/* Очистим все отступы и границы */
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

/* Изменяем подсчет ширины блока */
*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Убираем линии обводки у некоторых браузеров */
:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

/* Уравниваем поведение шрифтов и элементов для разных браузеров */
html,
body {
	height: 100%;
	min-width: 320px;
	color: #fff;
	font-family: sans-serif;
	background-color: grey;
}


/* Просим теги форм наследовать семейсво шрифта  */
input,
button,
textarea {
	font-family: sans-serif;
	font-size: inherit;
}

/* Просим теги форм наследовать семейсво шрифта  */
input,
button,
textarea {
	font-family: sans-serif;
	font-size: inherit;
}

/* убрать крест для удаления текста в инпуте для IE  */
input::-ms-clear {
	display: none;
	background-color: transparent;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

/* убрать отступы и пробелы в копке для браузера FireFox  */
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* Убираем подчеркивание для ссылок и посещённых ссылок*/
a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

/* Убираем подчеркивание для ссылок при наведении*/
a:hover {
	text-decoration: none;
}

/* Убираем маркирование списка*/
ul li {
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
}

/* Обнулим стили заголовков */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.wrapper {
	min-height: 100%;
}
